#guide-section {
    padding: 2em 0;
  }
  
.guide-box-container {
    opacity: 0;
    display: flex;
    gap: 2em;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    margin-bottom: 50px;
}

.guide-box-container.active {
    opacity: 1;
    transform: translateY(0);
}

.guide-box {
    flex: 1;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 2em;
}
.guide-box-container.active {
    opacity: 1;
}
  